<?xml version="1.0"?>
<config>
    <modules>
        <Leaddyno_Ldmage>
            <version>1.0.3</version>
        </Leaddyno_Ldmage>
    </modules>
    <global>
	<models>
            <leaddyno_ldmage>
                <class>Leaddyno_Ldmage_Model</class>
            </leaddyno_ldmage>
	</models>
        <blocks>
            <ldmage>
                <class>Leaddyno_Ldmage_Block</class>
            </ldmage>
        </blocks>
	<helpers>
            <leaddyno_ldmage>
                <class>Leaddyno_Ldmage_Helper</class>
            </leaddyno_ldmage>
        </helpers>
	<events>
	<sales_order_save_after>
                <observers>
                    <ldmage_order_modified>
                        <type>singleton</type>
                        <class>Leaddyno_Ldmage_Model_Observer</class>
                        <method>orderModified</method>
                    </ldmage_order_modified>
                </observers>
            </sales_order_save_after>
	</events>
   </global>
    <frontend>
        <layout>
            <updates>
                <ldmage>
                    <file>ldmage.xml</file>
                </ldmage>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <leaddyno_ldmage before="Mage_Adminhtml">Leaddyno_Ldmage_Adminhtml</leaddyno_ldmage>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <leaddyno_ldmage>
                                            <title>LeadDyno</title>
                                        </leaddyno_ldmage>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <leaddyno_ldmage>
            <account>
                <public_key>YOUR PUBLIC KEY</public_key>
                <private_key>YOUR PRIVATE KEY</private_key>
            </account>
        </leaddyno_ldmage>
    </default>
</config>

